table{
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid green;
  border-spacing: 0;
  
}
h3{
  margin: 10px auto;
  text-align: center;
}
td,th{
  padding: 8px 16px;
  border: 1px solid green;
  text-align: center;

}
th{
  width: auto;
  text-align: center;
}

